################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
Front-end/doan_s_food_app/.dart_tool/flutter_build
Front-end/doan_s_food_app/android/.gradle
Front-end/doan_s_food_app/build
Front-end/doan_s_food_app/ios/Runner/
Front-end/doan_s_food_app/.flutter-plugins-dependencies
Front-end/doan_s_food_app/.flutter-plugins
Front-end/doan_s_food_app/pubspec.lock
Front-end/doan_s_food_app/macos/
Front-end/doan_s_food_app/ios/
Front-end/doan_s_food_app/linux/
Front-end/doan_s_food_app/windows/
FoodApp.code-workspace
.vscode
